<div class="card">
    <div class="card-body">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum facere illum accusantium magni! Tenetur facilis enim beatae laudantium perferendis, optio fugiat, quibusdam modi pariatur, porro inventore eveniet exercitationem! Maxime.</h1>
    </div>
</div>